<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>PetPro</title>
        <link rel="stylesheet" href="visits.component.css" />
    </head>
    <body>
        <div class = "header">
            <h1>Visiting History</h1>
            <button class="add" type="button" (click)="onAdd()">Add</button>
        </div>
        <div class = "content">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Pet ID</th>
                    <th>Date of Visit</th>
                    <th>Reason of Visit</th>
                    <th>Treatment Notes</th>
                    <th [ngStyle]="{'max-width.px': 125}">#</th>
                    <th [ngStyle]="{'max-width.px': 125}">#</th>
                </tr>
                <tr *ngFor="let visit of visits">
                    <td> {{visit.visitID}} </td>
                    <td> {{visit.petID}} </td>
                    <td> {{visit.dateOfVisit}} </td>
                    <td> {{visit.reasonOfVisit}} </td>
                    <td> {{visit.treatmentNotes}} </td>
                    <td [ngStyle]="{'max-width.px': 125}"><button class="update" type="button" (click)="onUpdate(visit.visitID)">Update</button></td>
                    <td [ngStyle]="{'max-width.px': 125}"><button class="delete" type="button" (click)="onDelete(visit.visitID)">Delete</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>